body {
  padding:50px 0px 50px 0px;
}

.white-text {
    color: white;
}

.my-work span{
  margin-top: 1em 0;
  background-color: #eee;

  display: flex;
  justify-content: center;
  align-items:center;

  width: 100px;
  height: 60vh;
}

.my-work span:first-of-type{
  float: left;
  margin-left: 10vw;
}

.my-work span:last-of-type{
  float: right;
  margin-right: 10vw;
}

div.portfolio-item{
  position:relative;
  float: left;
  display: inline-block;
  max-height: 60vh;
  max-width: 60vw;
  overflow: hidden;
  margin-left: 10px;
}

.portfolio-caption{
  width: 20vw;

  background-color: hsla(0,0%,100%,0.7);
  border-radius: 0.6em;
  position: relative;
  top: -50vh;
  left: 10vw;

  color: gray;
}


section{
  margin:0 auto;
}
aside{
  width:20em;
  padding:10px 20px;
  margin: 10px auto 0;
}
