body {
  margin:0px;
}

.MenuWrap{
  background-color: #F8F8F8;
  height: 50px;
  display: flex;
  align-items: center;
  padding:0 1rem;
}

.ListItem,
.LastItem{
  color: #777777;
  text-decoration: none;
}

.ListItem{
  margin-right: 1rem;
}

.LastItem{
  margin-left: auto;
}

.workList{
  display: flex;
  justify-content: space-between;
  background-color: #eee
}

.workList span{
  margin: 0;
  padding: 0;
  background-color: #eee;

  display: flex;
  justify-content: center;
  align-items:center;

  width: 8vw;

  transition: background-color 1s;
}

.workList span:hover{  
  cursor:pointer;
  background-color: #e1e0e0;
} 

.portfolio-image{
  display: flex;
  align-items: center;
}

.portfolio-image img{
  overflow: hidden;
  height: 60vh;
}

.portfolio-caption{
  background-color: hsla(0,0%,100%,0.7);
  border-radius: 0.6em;
  text-align: center;
  color: gray;
}

aside{
  width:20em;
  padding:10px 20px;
  margin: 10px auto 0;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
}