---
layout: default
---
<article class="page">
    <h3>Demo</h3>
    <div class="projectList">
        <ul>
            <li>
                <span>
                    <a href="{{ site.baseurl }}/projects/todoApp">Todo app</a>: A todo list app using Vue.js and Vue CLI 3.0.
                </span>
                <span>
                    (<a href="https://github.com/RuoChen95/vue-todo-app">source code</a>)
                </span>
            </li>
            <li>
                <span>
                    <a href="{{ site.baseurl }}/projects/vueComponents">Vue Components</a>: Vue.js components, including stepper and img lazyloader.
                </span>
                <span>
                    (<a href="https://github.com/RuoChen95/Learn-Vue-2/tree/master/btm-demo-pkg">source code</a>)
                </span>
            </li>
        </ul>
    </div>
    <h3>Experience</h3>
	<div class="workList">
		<img id="backButton" src="../experience/imgs/left.svg">
		<div class="workContent"></div>
		<img id="forwardButton" src="../experience/imgs/right.svg">
	</div>
	<div class="entry">
		{{ content }}
	</div>
</article>
<style>
    .portfolio-item {
        display: flex;
        flex-direction: column;
    }
    .portfolio-image {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 625px;
        height: 463px;
    }
</style>